* {
    font-family: Raleway;
}

.jumbotron {
    background-image: url("../images/Animals___Cats__Gray_Scottish_Fold_cat_with_big_brown_eyes_045192_.jpg");
    background-color: #17234E;
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.footer {
    padding-top: 10px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer div p {
    color: rgba(255, 255, 255, 0.2);
}